/*reset page*/
body, margin {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100;
}

.landing-photo {
  background: url('../img/code.jpg') no-repeat 50% 50%;
  height: 100%;
  width: 100%;
  height: 100vh;
  display: table;
  top: 0;
  background-size: cover;
}

.inside {
  display: table-cell;
  vertical-align: middle;
  max-width: 100%;
  padding: 15px;
  text-align: center;
  color: #FFF;
  font-family: skia;
}

.inside-content h1 {
  font-size: 75px;
}

.btn {
  font-family: skia;
  font-size: 45px;
  font-weight: lighter;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  border-radius: 7px;
  background: rgba(0,0,0,0.1);
}

.intro h2 {
  font-family: skia;
}

.intro p{
  font-family: skia;
  font-size: 20px;
}

.program-languages {
  font-family: skia;
  font-size: 20px;
}

li {
  text-decoration: none;
}

#tracks {
  font-family: skia;
}

#survey-hidden {
  display: none;
  font-family: skia;
  font-size: 20px;
}

#survey-showing {
  font-family: skia;
  font-size: 20px;
}

.clickable:hover {
  color: #337ab7;
}

#program-survey {
  font-family: skia;
  font-size: 20px;
}

button {
  border-radius: 2px;
  font-family: skia;
  padding: 2px;
}

#result-panel {
  font-family: skia;
  font-size: 20px;
}










@@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }

  .btn {
    font-size: 110%;
    padding: 7px 15px;
  }

  p {
    font-size: 100%;
    line-height: 160%;
  }

  @media only screen and (min-width 400px) {
    img {
      margin: 0;
      width: 100%;
    }
  }
